body, html {
  margin: 0;
  padding: 0;
}

#map {
  width: 100wv;
  height: 100vh;
  background: black;
}

 .legend {
  line-height: 18px;
  color: white;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.menu-ui {
  position: absolute;
  top: 70px;
  left: 100px;
  z-index: 1000;
}
